
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
  
</head>
<body>
    <div style="margin: auto; padding: 70px 0;
">
        <h2 style="text-align:center; color:limegreen; font-family:Courier; font-weight:800">Your Order has been Placed Successfully!!!</h2>
    </div>
</body>





